public-hoist-pattern[]="vue"
public-hoist-pattern[]="naive-ui"
public-hoist-pattern[]="@nuxt/icon"
public-hoist-pattern[]="monaco-editor"
public-hoist-pattern[]="@ucstu/nuxt-fast-nav"
public-hoist-pattern[]="@ucstu/nuxt-fast-utils"
public-hoist-pattern[]="@ucstu/nuxt-naive-ui"
